{% extends 'base.html' %}


{% block title %}
    Sobre mim
{% endblock title %}
    

{% block content %}
<div class=" py-5 bg-light" >
    <div class="container">
        <h2 class="subtitulo">Sobre mim</h2>
        <p>Um desenvolvedor oriantando a resultados, como desenvolvedor web, gosto de usar minha atenção obsessiva aos detalhes, meu amor inequívoco por fazer coisas.
            Totalmente obsecado por aprender, empenhado, gosto de trabalhar em equipe! também estou a disposição para trabalho remoto, se você tiver um aplicativo que tenha
            interesse em desenvolver ou um problema que precise ser resolvido fique à vontade para entrar em contacto
        </p>
    </div>
</div>  
{% endblock content %}
    
