{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    {% block styles %}{% endblock styles %}
        
    <title>Arcénio Corteis - {% block title %}{% endblock  %}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light" style="background-color:#fff">
            <a class="navbar-brand" href="/" style=color:#000>ARCÉNIO CARLOS CORTEIS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
                aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav mr-auto">
    
                </ul>
                <ul class="navbar-nav">
                    <li>
                        <a href="#projetos" class="nav-link" style=color:#000> Projetos</a>
                    </li>
                    <li>
                        <a href="#contato" class="nav-link" style=color:#000>Contato</a>
                    </li>
    
                    <li>
                        <a href="{% url 'about' %}" class="nav-link" style=color:#000>Sobre mim</a>
                    </li>
    
                    <li>
                        <a href="https://casanerd.netlify.app/" class="nav-link" style=color:#000>Blog</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="jumbotron text-center corPrimaria">
        <div class="container">
            <a href="/"><img src="{% static 'img/perfil.jpeg' %}" class="foto-perfil" alt="Arcénio Corteis" width='200'></a>
            <h1 class="jumbotron-heading" style="color:#fff;text-transform: uppercase;">Arcénio Corteis</h1>
            <p class="lead" style="color:#fff !important;">Desenvolvedor web - Criador de conteúdos - Eterno estudante 
            </p>
            <p>
                <a href="#contato" class="btn btn-dark my-2">CONTACTO</a>
            </p>
            <a href="https://github.com/corteisjr"><i style="color:#fff" class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/arcenio-corteisjr"><i style="color:#fff" class="fab fa-linkedin"></i></a>
            <a href="#"><i style="color:#fff" class="fab fa-instagram"></i></a>
        </div>
    </section>
    {% block content %}
        
    {% endblock content %}
     <footer class="text-center">
        <p style="margin:0px;padding-top:15px;padding-bottom:15px;color:#000 !important">Copyright - 2020 - Corteisjr
        </p>
     </footer>
     

     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
     </script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
     </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f0e17cbf2f.js" crossorigin="anonymous"></script>
     {% block scripts %}{% endblock scripts %}
            
</body>
</html>