{% extends 'base.html' %}
{% load static %}


{% block title %}
    Portfólio
{% endblock title %}


{% block stlyles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock stlyles %}

{% block content %}
<section class="jumbotron text-center corPrimaria">
    <div class="container">
        <img src="{% static 'img/perfil.jpeg' %}" class="foto-perfil" alt="Arcénio Corteis" width='200'>
        <h1 class="jumbotron-heading" style="color:#fff;text-transform: uppercase;">Arcénio Corteis</h1>
        <p class="lead" style="color:#fff !important;">Desenvolvedor web e Desktop - Criador de conteúdos - Eterno estudante 
        </p>
        <p>
            <a href="#contato" class="btn btn-dark my-2">CONTACTO</a>
        </p>
        <a href="https://github.com/corteisjr"><i style="color:#fff" class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/arcenio-corteisjr"><i style="color:#fff" class="fab fa-linkedin"></i></a>
        <a href="#"><i style="color:#fff" class="fab fa-instagram"></i></a>
    </div>
</section>


<!-- Projectos -->
<div class="album py-5 bg-light" id="projectos">
    <div class="container">
        <h2 class="text-center jumbotron-heading subtitulo">Projectos</h2>
        <div class="row">
            {% for project in projects %}
                <div class="col-md-4 d-flex align-items-center">
                    <div class="card mb-4 box-shadow" style="width: 18rem;">
                        <img class="card-img-top" src="{{project.image.url}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">{{project.title}}</h5>
                          <p class="card-subtitle mb-2 text-muted h6">{{project.subtitle}}</p>
                          <p class="card-text text-white">{{project.content}}</p>
                          <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                          <a href="#" class="btn "><i class="fab fa-github"></i> Github</a>
                    </div>
                </div>
        </div>
        {% endfor %}
            
    </div>
</div>
{% endblock content %}
    

{% block scripts %}
    
{% endblock scripts %}
    