{% extends 'base.html' %}
{% load static %}


{% block title %}
    Portfólio
{% endblock title %}


{% block stlyles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock stlyles %}

{% block content %}

<!-- Projectos -->
<div class="album py-5 bg-light" id="projectos">
    <div class="container">
        <h2 class="text-center jumbotron-heading subtitulo">Projectos</h2>
        <div class="row">
            {% for project in projects %}
                <div class="col-md-4 d-flex align-items-center">
                    <div class="card mb-4 box-shadow" style="width: 18rem;">
                        <img class="card-img-top" src="{{project.image.url}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">{{project.title}}</h5>
                          <p class="card-subtitle mb-2 text-muted h6">{{project.subtitle}}</p>
                          <p class="card-text text-white">{{project.content}}</p>
                          <a href="{{project.link}}" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                          <a href="{{project.gitHub_link}}" class="btn "><i class="fab fa-github"></i> Github</a>
                          <div class="text-center mt-2">
                          <small class="text-muted">{{project.projectType}}</small>
                        </div>
                    </div>
                </div>
        </div>
        {% endfor %}              
    </div>
    <div class="row">
        <nav aria-label="Page navigation" class="navigation">
            <ul class="pagination">
                
                {% if projects.has_previous %}
                    <li class="page-item"><a href="?page=1{{parameters}}" class="page-link">&laquo; Primeiro</a></li>
                    <li class="page-item"><a href="?page={{projects.previous_page_number}} {{ parameters}}" class="page-link">Anterior</a></li>
                {% endif %}
                <li class="page-item"><a href="#" class="page-link">Página {{ projects.number }} de {{ projects.paginator.num_pages}}</a></li>
                
                {% if projects.has_next %}
                    <li class="page-item"><a href="?page={{projects.next_page_number}} {{ parameters }}" class="page-link">Próximo</a></li>
                    <li class="page-item"><a href="?page={{ projects.paginator.num_pages }} {{ parameters }}" class="page-link">Último &raquo;</a></li>
                {% endif %}
                    
            </ul>
        </nav>
    </div>
</div>


{% endblock content %}
    

{% block scripts %}
    
{% endblock scripts %}
    